// Variables
$text-main: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

$fs-base: 16px;
$fs-header: 30px;
$fs-header-lg: 40px;
$fs-title: 25px;

$fs-small: 12px;
$fs-percent: 50px;
$fs-percent-lg: 60px;

$px-S: 8px;
$px-M: 15px;
$px-L: 25px;
$px-XL: 35px;
$px-XXL: 50px;

$color-main: #0d1116;
$color-bg: #f4f4f4;
$color-accent: #058ac5;
$color-accent-2: #058ac5;
$color-white: #fff;
$color-black: #000;
$color-table-bg: #f2f2f2;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 900px;
$media-breakpoint-xl: 965px;
$media-breakpoint-duo: 910px;
$media-breakpoint-research: 775px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .es-bold {
    font-weight: $fw-black;
  }

  .es-uppercase {
    text-transform: uppercase;
  }

  .es-title-small {
    font-size: $fs-header;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  .es-white-text {
    color: #fff;
    font-size: 38px;
  }

  .es-blue-text {
    color: $color-accent-2;
    text-transform: uppercase;
  }

  .es-small-text {
    font-size: 22px;
  }

  .es-sup {
    font-size: 0.6em;
  }

  .es-mobile {
    @media (min-width: $media-breakpoint-md) {
      display: none;
    }
  }

  .es-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $px-M;
    gap: 24px;

    img {
      max-height: 40px;
    }

    &__2 {
      img {
        max-height: 55px;
        padding: 0 35px 0 45px;
      }
    }

    &__3 {
      margin-top: 10px;
    }

    @media (min-width: $media-breakpoint-sm) {
      flex-direction: row;
    }
    @media (min-width: $media-breakpoint-md) {
      justify-content: flex-end;
      padding-right: 48px;
      gap: 48px;

      img {
        max-height: 50px;
      }

      &__2 {
        img {
          max-height: 60px;
          padding: 0;
        }
      }
    }
  }

  .es-kv--mobile {
    padding: $px-XXL $px-XXL 0 0;
    &__img {
      margin: 0;
    }
  }

  .es-kv {
    &__left {
      color: $color-white;
      text-align: center;
      padding: $px-XL;
      text-wrap: balance;
      word-break: auto;
      &--headline {
        text-transform: uppercase;
        font-size: 24px;
      }
      &--name {
        font-size: $fs-header-lg;
        font-weight: $fw-bold;
        text-transform: uppercase;
        margin-top: $px-S;
        margin-bottom: $px-M;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      background-position: 73%;
      min-height: 380px;
      display: flex;
      align-items: center;
      &__left {
        max-width: 77%;
        text-align: left;
        &--headline {
          font-size: 26px;
        }
        &--name {
          font-size: 48px;
        }
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      &__left {
        padding-left: calc(1.4 * $px-XXL);
        padding-right: 0;
      }
    }
  }

  .es-benefits {
    text-align: center;
    &__title {
      text-transform: uppercase;
      font-size: $fs-header;
      font-weight: $fw-black;
      margin-top: 35px;
      margin-bottom: 15px;
      &--span {
        font-weight: $fw-regular;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;
      gap: 25px;
      padding-inline: 16px;
      margin-block: 50px;
    }
    &__single {
      display: flex;

      &--icon img {
        max-width: 51px;
        width: 51px;
        height: 45px;
      }
      &--text {
        text-transform: uppercase;
        text-align: left;
        margin-left: 10px;
        font-size: 15px;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      &__title {
        font-size: $fs-header-lg;
        margin-top: 50px;
      }
      &__list {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 32px;
      }
      &__single {
        max-width: 33%;
        flex: 1 1 0;
      }
      &__text {
        font-size: 14px;
        text-wrap: balance;
      }
    }
  }

  .es-ingredients {
    margin-bottom: -15px;
    z-index: 1;
    position: relative;

    .es-title-small {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &__container {
      background-size: 250px;
      background-repeat: no-repeat;
      background-position: bottom left;
      padding-bottom: 390px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-block: 30px;
      gap: 24px;
    }
    &__single {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 48%;
      padding-top: 30px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      &--text {
        text-transform: uppercase;
        margin-left: 10px;
        margin-top: 5px;
        &--title {
          font-weight: $fw-black;
          font-size: 20px;
          margin-bottom: 10px;
        }
        &--desc {
          font-size: 14px;
        }
      }
      &--img {
        img {
          max-width: 80px;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
        &--1,
        &--3 {
          img {
            max-width: 93px;
            margin-top: -20px;
          }
        }
      }
    }
    @media (min-width: $media-breakpoint-sm) and (max-width: $media-breakpoint-lg) {
      &__container {
        background-size: 0%;
        padding-bottom: 30px;
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      .es-title-small {
        margin-top: 80px;
        margin-bottom: 60px;
      }
      &__list {
        justify-content: flex-end;
        padding-bottom: 92px;
        margin-bottom: 0;
        max-width: 75%;
        margin-left: auto;
        gap: 0;
      }
      &__container {
        background-size: auto 98%;
        background-position-x: 0%;
        padding-bottom: 0px;
      }
      &__single {
        width: 48%;
        padding-top: 30px;
        flex-direction: row;
        justify-content: unset;
        align-items: unset;
        text-align: left;
        &:nth-of-type(3) {
          width: 86%;
          margin-top: 30px;
        }
        &--text--title {
          margin-bottom: 5px;
        }
      }
    }
  }

  .es-features {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    &__left {
      text-align: center;
      padding: $px-XL;
      text-wrap: balance;
      word-break: auto;

      display: flex;
      flex-direction: column;
      gap: $px-L;

      &--text {
        font-weight: $fw-black;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &--desc--1 {
        width: 100%;
        text-wrap: auto;
      }
    }
    &__pack {
      padding-bottom: $px-XL;
    }

    @media (min-width: $media-breakpoint-md) {
      max-height: 350px;
      display: flex;
      align-items: center;
      &__left {
        max-width: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-right: 0;
      }
      &__pack {
        padding: $px-XL 0;
        img {
          max-height: 300px;
        }
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      &__left {
        gap: 24px;
        max-width: 42%;
      }
    }
  }

  .es-cross {
    display: none;
    .es-title-small {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    &__container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    &__single {
      display: flex;
      flex-flow: column;
      margin: 15px auto;
      width: 190px;
      transition: transform 0.6s;
      @media (min-width: $media-breakpoint-lg) {
        max-width: 20%;
        margin: 0;
      }
      &--img {
        img {
          max-height: 250px;
          transition: all 0.3s ease-in-out;
        }
      }
      &:hover {
        .es-cross__single--img img {
          transform: translateY(-8px);
        }
        .es-cross__single--link {
          color: $color-black;
          background-color: $color-white;
        }
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        .es-cross__single--img img {
          max-height: 230px;
        }
      }
      &--text--wrapper {
        display: flex;
        align-items: flex-end;
        margin: 20px 0;
      }
      &--text {
        padding-left: 5px;
        font-size: 14px;
        @media (min-width: $media-breakpoint-lg) {
          font-size: 12px;
        }
      }
      &--link {
        background-color: $color-black;
        color: $color-white;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        border: $color-black 1px solid;
        border-radius: 5px;
        padding: 10px 0;
        width: 95%;
        transition: all 0.3s ease-in-out;
      }
      &--text--border {
        width: 18px;
        height: 46px;
        background-color: $color-accent-2;
      }
    }

    @media (min-width: $media-breakpoint-lg) {
      display: block;
    }
  }

  .es-cross-mobile {
    .es-title-small {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .es-crosss__single--text--border {
      width: 18px;
      height: 46px;
      background-color: $color-accent-2;
    }
    @media (min-width: $media-breakpoint-lg) {
      display: none;
    }
  }

  .es-swiper1 {
    width: 210px;
    height: 450px;
    .es-cross__single {
      width: 210px;
      &--text--wrapper {
        align-items: center;
      }
    }
    .swiper-pagination-bullet {
      opacity: 0.1;
    }
    .swiper-pagination-bullet-active {
      background: $color-accent;
      opacity: 1;
    }
    .swiper-button-prev.es-swiper1-button-prev,
    .swiper-button-next.es-swiper1-button-next {
      top: unset;
      bottom: -6px;
    }
    .swiper-button-prev.es-swiper1-button-prev {
      left: 32px;
    }
    .swiper-button-next.es-swiper1-button-next {
      right: 36px;
    }
    .swiper-button-prev.es-swiper1-button-prev::after,
    .swiper-button-next.es-swiper1-button-next::after {
      font-size: 22px;
      font-weight: 900;
      color: $color-accent;
    }
  }

  .es-video {
    margin: 50px 0;
    &__source {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .es-products {
    display: none;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__single-wrapper {
      width: 32.5%;
    }
    &__single {
      display: flex;
      background-color: $color-accent;
      justify-content: space-between;
      align-items: flex-end;
      padding: 25px 20px;
      font-size: 40px;
      line-height: 1;
      width: 317px;
      height: 400px;
      position: relative;
      margin-top: 10px;

      &--img {
        margin-left: 40px;
        &--3 {
          margin-left: 15px;
        }
        img {
          max-height: 320px;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      &--text {
        position: absolute;
        transform: rotate(-90deg) translateX(140px);
        text-transform: uppercase;
        width: 380px;
        right: -39%;
        p {
          display: flex;
          flex-direction: column;
          gap: 3px;
        }
      }
      @media (min-width: $media-breakpoint-md) {
        width: 100%;
        &--text {
          position: absolute;
          transform: rotate(-90deg);
          text-transform: uppercase;
          width: 400px;
          height: 256px;
          bottom: 72px;
          right: -72px;
          padding: 16px;
          display: flex;
          align-items: flex-end;
        }
      }
      @media (min-width: $media-breakpoint-md) and (max-width: $media-breakpoint-lg) {
        font-size: 36px;
        height: 380px;
        .es-white-text {
          font-size: 34px;
        }
        &--img {
          margin-left: 4%;
          &--3 {
            margin-left: 1%;
          }
          img {
            max-width: 85%;
            margin: 0;
          }
          &--1 {
            img {
              max-width: 95%;
            }
          }
        }
      }
      @media (min-width: $media-breakpoint-lg) {
        &--text {
          font-size: 38px;
          bottom: 82px;
        }
      }
    }
    @media (max-width: 320px) {
      &__single {
        width: 290px;
        &--img {
          margin-left: 20px;
        }
      }
    }
    @media (min-width: $media-breakpoint-md) {
      .es-products-mobile {
        display: none;
      }
      & {
        display: block;
      }
    }
    @media (min-width: 966px) {
      &__container {
        justify-content: space-between;
      }
    }
  }

  .es-table {
    display: none;
    &__title {
      font-weight: 900;
      font-size: 25px;
      color: $color-accent;
      text-align: center;
      text-transform: uppercase;
      margin: 25px 0;
    }
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__single {
      text-align: center;
      background-color: #f2f2f2;
      padding: 25px 25px 0 25px;
      width: 32.5%;
      p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 1.4;
      }
      .es-bold {
        font-weight: 700;
      }
    }
  }

  .es-table-mobile {
    .es-table__single {
      width: 100%;
      padding-bottom: 10px;
      p {
        margin-bottom: 15px;
      }
    }
  }

  .es-products-mobile {
    margin-bottom: 30px;
    .es-products__single {
      height: 420px;
      img {
        margin-bottom: 10px;
      }
    }
    @media (min-width: $media-breakpoint-md) {
      display: none;
    }
  }

  .es-swiper2 {
    width: 317px;
    padding-bottom: 15px;
    height: fit-content;
    .es-products-mobile .es-products__single {
      height: 420px;
    }
    .swiper-button-next#es-swiper2-button-next__top {
      top: 4%;
      right: 10px;
      &::after {
        font-size: 22px;
        font-weight: 900;
        color: #fff;
      }
    }
    .es-swiper2-pagination {
      position: relative;
      bottom: -6px;
    }
    .swiper-pagination-bullet {
      opacity: 0.1;
    }
    .swiper-pagination-bullet-active {
      background: $color-accent;
      opacity: 1;
    }
    .swiper-button-prev.es-swiper2-button-prev,
    .swiper-button-next.es-swiper2-button-next {
      top: unset;
      bottom: -6px;
    }
    .swiper-button-prev.es-swiper2-button-prev {
      left: 82px;
    }
    .swiper-button-next.es-swiper2-button-next {
      right: 86px;
    }
    .swiper-button-prev.es-swiper2-button-prev::after,
    .swiper-button-next.es-swiper2-button-next::after {
      font-size: 22px;
      font-weight: 900;
      color: $color-accent;
    }
  }

  @media (min-width: $media-breakpoint-md) {
    .es-table {
      display: block;
    }
    .es-table-mobile {
      display: none;
    }
  }

  .es-top {
    margin-top: 45px;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 45px;
    }
    &__single {
      &-img {
        position: relative;
      }
      &-text {
        font-size: 23px;
        position: absolute;
        bottom: 5%;
        left: 5%;
        text-transform: uppercase;
        color: $color-white;
        .es-bold {
          font-weight: $fw-bold;
        }
      }
    }
    @media (min-width: $media-breakpoint-md) {
      display: flex;
      align-items: center;
      &__container {
        margin-top: unset;
        margin-left: 15px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      &__single {
        &-text {
          font-size: 14px;
        }
      }
    }
    @media (min-width: $media-breakpoint-lg) {
      &__single {
        &-text {
          font-size: $fs-base;
        }
      }
    }
  }

  .es-qa {
    margin-top: 50px;
    .es-accordion {
      margin: 0 auto;
      max-width: 990px;
      &__element {
        margin: 0 auto;
        margin-bottom: 20px;
        border: none;
        &-content {
          font-size: 14px;
          line-height: 1.4;
          background-color: #f4f4f4;
          color: #000;
          overflow: hidden;
          margin-top: -10px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          max-height: 0;
          transition: max-height 0.5s ease-out;
        }
      }
      &__title {
        padding: 17px 50px 17px 15px;
        font-size: 16px;
        color: #fff;
        transition: all 200ms ease-out;
        cursor: pointer;
        background: $color-accent;
        z-index: 1;
        position: relative;
      }
      .es-accordion__arrow {
        width: 22px;
        position: absolute;
        right: 15px;
        top: 20px;
        margin: auto 0;
        transition: all 0.3s ease-out;
      }
      .active .es-accordion__arrow {
        transform: rotate(180deg);
      }
      @media (min-width: $media-breakpoint-md) {
        .es-accordion__arrow {
          top: 50%;
          bottom: unset;
          transform: translateY(-50%);
        }
        .active .es-accordion__arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    .es-qa__small-text {
      font-size: $fs-small;
      display: block;
      margin-top: 25px;
    }
    @media (min-width: 650px) {
      .es-accordion__arrow {
        top: 0;
        bottom: 0;
      }
    }
  }

  .es-footer {
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
